* {
    text-align: center;
}

#main-content {
    width: 100%;
    /* height: 90vh; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#slides-c {
    align-items: center;
    justify-content: center;
}

#col1,
#col2 {
    overflow: hidden;
}

#col-left,
#col-right {
    transition: 1.5s ease;
    object-fit: cover;
}

#col-left {
    transform: translateX(110%);
}

#col-right {
    transform: translateX(-110%);
}

#col-left p {
    text-align: left;
    justify-content: left;
    align-items: flex-start;
    font-size: 30px;
}

#main-img {
    transition: 1.5s;
    width: 20%;
    border-radius: 50%;
}

#social-links {
    width: 100px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) translateX(-50%);
    transition: 1.5s;
}

#social-links ul {
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0.247);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-left: 10px;
}

.social {
    padding: 10px;
    /* transition: 5s; */
    visibility: hidden;
}

.fa-brands {
    color: #000;
    width: 50;
    transition: 0.3s;
    font-size: 30px;
}

.social:hover .fa-brands {
    transform: translateX(5px) scale(1.5);
}

@media (min-width: 992px) {}