.blog-content .text-area h2,
.blog-content .text-area p{
    text-align: left;
}
.text-area {
    overflow: hidden;
}

.created-at{
    text-align: right !important;
}
.blog-content .text-area{
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
}
.blog-content .text-area:hover{
    background-color: rgba(0, 0, 0, 0.315);
}