h1 {
    font-weight: bold;
    margin-bottom: 3%;
}

p {
    text-align: left;
}
.row{
    margin-bottom: 2.2em;
}
.title_heading{
    text-align: center;
    font-size: 1.9em;
    margin: 10px 0px 10px 0px;
}
.title-body{
    text-align: justify;
    font-size:  1.1em;
    text-indent: 2em;
    margin-bottom: 10px;
}
.goback{
    margin-top: 10px;
    position: fixed;
    left: 0.9em; 
}
.goback i{
    font-size: xx-large;
}