#thank-you {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#form-submit-error{
    visibility: hidden;
    transition: 1s;
}
#form-submit-error p{
    font-size: 3.5vh;
}
@media (max-width: 991px) {
   #thank-you {
        position: static;
        top: 0;
        left: 0;
        transform: translate(0, 0);
    }
}