#resume-section {
  overflow-y: auto;
  height: 100vh;
  padding-bottom: 1em;
  scroll-behavior: smooth;
}
h2 {
  font-size: 2em;
  text-decoration: underline red 2px;
}
p {
  font-size: 1em;
  margin-bottom: 0;
}

#professional-summary,
#employment-history,
#education-details,
#certification-details,
#personal-details {
  margin-top: 1.5em;
}

#professional-summary > div,
#employment-history > div,
#education-details > div,
#certification-details > div,
#personal-details > div {
  margin-left: 2em;
}

/* .professional-summary
  .emp-history,
  .edu-history,
  .cert-history,
  .per-prof{
      margin: 1em;
  } */

.period,
.designation,
.specialiation {
  font-weight: bold;
}

.exp-date {
  font-size: 0.7em;
}

.per-prof > table > tr > td {
  padding-right: 0.7em;
}
#index-section {
  position: absolute;
  right: 0%;
}