#welcome-section{
    margin-top: 1em;
    height: 100vh;
    width: 83% !important;
}

.welcome-sec-1{
    
}
.welcome-sec-2{
    width: 50% !important;

}
#praveesh-image{
    width: 100%;
    border-radius: 50%;
}
#main-role{
    text-align: center;
}

.home-button {
    margin: 0 15px 0 0;
    background-color: #ff0000;
    border: none;
  }
  .home-button,
  .home-button i {
    transition: 0.5s;
  }
  .home-button:hover {
    background-color: rgb(0, 0, 0);
    color: white !important;
  }
  .home-button:hover i {
    color: white !important;
  }
  .home-button:active {
    background-color: #ff0000 !important;
  }