#welcome-section{
    width: 70vw;
    overflow: hidden;
}

.container-fluid .welcome{
    width: 100%;
}
#praveesh-image{
    /* height: 25em; */
    width: 100% ;
    border-radius: 50%;
}
#main-role{
    text-align: center;
    /* overflow: scroll; */
}

#welcome-section{
    margin-top: 2em;
    margin-bottom: 2em;
}