.cursor-bubble {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgba(0, 150, 255, 0.7);
  border-radius: 50%;
  pointer-events: none;
  transition: transform 0.3s;
  box-shadow: 0 0 20px rgba(0, 150, 255, 0.4), 0 0 50px rgba(0, 150, 255, 0.2);
  z-index: 999;
}
