#social-links {
  z-index: 999;
  width: 100px;
  position: fixed;
  transition: 2s cubic-bezier(0, 0, 0, 1);
  background-color: transparent !important;
  mix-blend-mode: difference;
  width: auto;
  bottom: 0;
  right: 0;
}

.social-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
}
.social-ul > li {
  display: inline-block;
  margin-right: 20px;
}
.social {
  padding: 0px 10px 10px 10px;
}

.social:last-child {
  padding: 0px 10px 10px 10px;
  margin-right: 0;
}

.fa-brands {
  color: #ffffff;
  width: 50;
  transition: 0.3s;
  font-size: 40px;
}

.social:hover .fa-brands {
  transform: scale(1.5);
}

#social-links {
  transition: 0.5s;
}

#social-links p {
  left: 0%;
  font-size: 20px;
  margin-bottom: 0;
  position: relative;
  width: auto;
  animation: moveLeftRight 3s ease-in-out infinite;
  overflow: hidden;
}

@keyframes moveLeftRight {
  0% {
    left: 0%;
  }
  50% {
    left: 80%;
  }
  100% {
    left: 0%;
  }
}