#project-section {
  overflow-y: auto;
  height: 100vh;
}

.tables {
  padding-top: 10px;
  padding-bottom: 10px;
}
.tables td {
  padding: 2px;
}
.app_desc {
  vertical-align: top;
}
.tables tr > td:nth-child(1) {
  padding-right: 10px;
  font-weight: bold;
}
