#resume-section {
  overflow-y: auto;
  height: 100vh;
  padding-bottom: 1em;
  scroll-behavior: smooth;
}
h1{
    font-size: 3em;
    text-align: center;
    text-decoration: underline red 3px;
}
h2{
font-size: 2em;
text-decoration: underline red 2px;
}
p{
    font-size: 1em;
    margin-bottom: 0;
}

#professional-summary,
#employment-history,
#education-details,
#certification-details,
#personal-details{
    margin-top: 1.5em;
}

#professional-summary > div,
#employment-history > div,
#education-details > div,
#certification-details > div,
#personal-details > div{
    margin-left: 2em;
}

/* professional-summary */
.emp-history,
.edu-history,
.cert-history,
.per-prof{
    margin: 1em;
}

.period,
.designation,
.specialiation{
    font-weight: bold;
}

.exp-date{
    font-size: 0.7em;
}

.per-prof > table > tr > td{
    padding-right: 0.7em;
}
#index-section{
    position: absolute;
    right: 0%;
    /* transform: translateX(20%); */
}

#index-section a{
    /* text-decoration: none; */
    color: black;
    padding-left: 5px;
    padding-right: 5px;
}
#index-section > div:nth-child(even){
    background-color: #ff00004a;
}
#index-section > div:nth-child(odd){
    background-color: #ff00009a;
}