.skill_name,
.skill_knowledge{
    padding: 0.3em;
}
.skill_name{
    width: 20%;
    font-weight: bold;
    font-size: 1em;
}
.progress{
    background-color: #ff00004a;
}
.progress-bar{
    background-color: #ff0000;
}

table{
    padding-top: 10px;
}