#contact-section {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form {
    display: grid;
    gap: 10px;
}

.form-group {
    display: grid;
    gap: 5px;
}

label {
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input,
textarea {
    text-align: start;
}

.submit-button {
    background-color: #030303;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.submit-button:hover {
    background-color: rgba(0, 0, 0, 0.247);
    color: #000;
    box-shadow: inset 0 0 0 3px black;
}
#error-alert{ 
    visibility: hidden;
    color: red;
    transition: 1s;
}
@media (max-width: 991px) {
    #contact-section {
        width: 100%;
        position: static;
        top: 0;
        left: 0;
        transform: translate(0, 0);
    }
}